<div class="flex items-center justify-center min-h-screen px-4 sm:px-6 lg:px-8">
  <div
    class="grid grid-cols-1 gap-y-12 md:gap-y-16 lg:grid-cols-2 lg:gap-y-12 lg:items-center max-w-7xl w-full"
  >
    <div class="text-cnter lg:text-left">
      <h1
        class="text-3xl sm:text-4xl md:text-5xl font-bold tracking-tight sm:text-[2.7rem] leading-[1] animate-slide-top"
      >
        Hi there 👋🏻. I'm Phumlani<br />
        <span class="text-green-500">Software Developer</span> mainly focused on Java Spring Boot
        Development
      </h1>
      <div
        class="animate-slide-top [animation-fill-mode:backwards] [animation-delay:300ms] mt-6 text-base sm:text-lg md:text-xl space-y-5"
      >
        <p>
          I am a self-motivated mobile and back-end developer. I enjoy collaborating with people and
          adapt well to challenges. I am keen to learn new technologies as tech changes every day.
          My programming experience has offered a lot of knowledge in solving problems, programming,
          developing, and deploying web applications using GitHub & Git, Heroku with PostgreSQL. I
          have developed web apps with HTML, CSS, and Java.
        </p>
      </div>
    </div>

    <div class="lg:pl-20">
      <img
        src="/assets/phumlani-arendse.JPEG"
        alt="Phumlani Arendse"
        loading="eager"
        width="100%"
        height="100%"
        object-fit="fit"
        decoding="async"
        data-nimg="1"
        class="w-48 sm:w-68 md:w-80 lg:w-[28rem] aspect-square object-cover rotate-3 rounded-2xl shadown-lg bg-zinc-100 dark:bg-zinc-800 transition duration-700 ease-in-out hover:scale-105"
        style="color: transparent"
      />
    </div>
  </div>
</div>
