<div class="p-10 max-w-full max-h-full">
  <div class="grid grid-cols-1 md:grid-cols-2 text-center md:text-left gap-10 items-center">
    <div class="flex justify-center">
      <img
        src="https://phumlaniarendse.co.za/assets/WhatsApp%20Image%202021-01-08%20at%2019.59.01.jpeg"
        alt="Phumlani Arendse"
        class="w-72 h-72 md:w-96 rounded-lg shadow-lg shadow-blue-600"
      />
    </div>

    <div>
      <h1 class="text-4xl md:text-5xl font-bold">About Me.</h1>
      <div class="w-20 h-1 bg-blue-500 my-4"></div>
      <p class="text-lg leading-relaxed">
        I am a self-motivated mobile and back-end developer. I enjoy collaborating with people and
        adapt well to challenges. I am keen to learn new technologies as tech changes every day. My
        programming experience has offered a lot of knowledge in solving problems, programming,
        developing, and deploying web applications using GitHub & Git, Heroku with PostgreSQL. I
        have developed web apps with HTML, CSS, and Java.
      </p>

      <ul class="grid grid-cols-2 text-lg mt-5 space-y-2">
        <li>HTML</li>
        <li>CSS</li>
        <li>Java</li>
        <li>Android</li>
        <li>Firebase</li>
        <li>PostgreSQL</li>
        <li>Adobe XD</li>
        <li>Bootstrap</li>
      </ul>
    </div>
  </div>
</div>
