<div class="flex items-center justify-center min-h-screen max-w-full max-h-full">
  <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
    <div>
      <h1 class="text-4xl font-bold tracking-tight sm:text-[2.7rem] leading-[1] animate-slide-top">
        Hi there 👋🏻. I'm Phumlani<br />
        <span class="text-green-500">Software Developer</span> mainly focused on Java Spring Boot
        Development
      </h1>
      <div
        class="animate-slide-top [animation-fill-mode:backwards] [animation-delay:300ms] mt-6 text-md space-y-7"
      >
        <p>
          I am a self-motivated mobile and back-end developer. I enjoy collaborating with people and
          adapt well to challenges. I am keen to learn new technologies as tech changes every day.
          My programming experience has offered a lot of knowledge in solving problems, programming,
          developing, and deploying web applications using GitHub & Git, Heroku with PostgreSQL. I
          have developed web apps with HTML, CSS, and Java.
        </p>
      </div>
    </div>

    <div class="lg:pl-20">
      <div class="max-w-xs px-2.5 lg:max-w-none"></div>
      <img
        src="assets/IMG_0489.JPEG"
        alt="Phumlani Arendse"
        loading="eager"
        width="100%"
        height="100%"
        object-fit="fit"
        decoding="async"
        data-nimg="1"
        class="group-hover:opacity-75 duration-700 ease-in-out grayscale-0 blur-0 scale-100 aspect-square rotate-3 rounded-2xl bg-zinc-100 dark:bg-zinc-800"
        style="color: transparent"
      />
    </div>
  </div>
</div>
