<div class="flex items-center justify-center p-12">
  <div class="mx-auto w-full max-w-[550px]">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="mb-5">
        <input
          type="email"
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          required
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          required
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <button
        type="submit"
        class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none"
      >
        Login
      </button>
    </form>
  </div>
</div>
