<div class="flex min-h-screen min-w-full bg-white">
  <!-- Sidebar -->
  <aside class="w-1/4 border-gray-200 p-4 shadow-sm">
    <h2 class="text-xl font-semibold mb-4">📚 All Blogs</h2>
    <ul class="space-y-2">
      <li
        *ngFor="let post of posts"
        class="cursor-pointer p-2 rounded-lg hover:bg-gray-100 transition"
        (click)="selectPost(post)"
        (keydown.enter)="selectPost(post)"
        (keydown.space)="selectPost(post)"
        aria-hidden="true"
        [class.bg-blue-100]="selectedPost?.id === post.id"
      >
        <p class="font-medium text-gray-900">{{ post.title }}</p>
        <p class="text-sm text-gray-500">
          {{ post.created_at ? (post.created_at | timeAgo) : '' }}
        </p>
      </li>
      )
    </ul>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 p-6">
    <ng-container
      *ngIf="selectedPost; else noPost"
      class="rounded-xl shadow-md p-6 max-w-3xl mx-auto"
    >
      <h1 class="text-3xl font-bold mb-5">
        {{ selectedPost.title }}
      </h1>
      <h2 class="text-1xl font-bold mb-5">{{ selectedPost.description }}</h2>
      <markdown class="prose prose-lg max-w-none" [data]="selectedPost.content" prism></markdown>
    </ng-container>

    <ng-template #noPost>
      <p class="text-center text-gray-500">No blog selected.</p>
    </ng-template>
  </main>
</div>
