<div class="background">
  <div class="info" id="home">
    <a href="https://github.com/PhumlaniDev?tab=repositories" target="_blank"
      ><i class="fab fa-github"></i
    ></a>
    <a href="https://www.linkedin.com/in/phumlani-arendse/" target="_blank"
      ><i class="fab fa-linkedin"></i
    ></a>

    <h1 style="font-size: 65px; color: white">Phumlani Arendse</h1>
    <p style="color: white; font-size: 18px">
      I'm a Web Developer with extensive experience for over 3 years. My expertise is to create and
      design websites, Apps, Mockups and many moire
    </p>
    <button><a href="#contact">CONTACT ME</a></button>
  </div>
</div>
