<div
  class="flex items-center justify-center text-center w-full px-8 md:px-2.5 mt-16 md:mt-0 mb-4 text-sm md:text-md"
>
  <p>
    &copy; {{ currentYear }} Phumlani Arendse. All rights reserved. Built with
    <a
      href="https://angular.io/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-500 hover:underline"
      >Angular</a
    >
    and
    <a
      href="https://tailwindcss.com/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-500 hover:underline"
      >Tailwind CSS</a
    >
  </p>
</div>
