<div class="flex items-center justify-center text-center w-full px-4 md:px-6">
  <p>
    &copy; {{ currentYear }} Phumlani Arendse. All rights reserved. Built with
    <a
      href="https://angular.io/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-500 hover:underline"
      >Angular</a
    >
    and
    <a
      href="https://tailwindcss.com/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-500 hover:underline"
      >Tailwind CSS</a
    >
  </p>
</div>
